h1{
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  color: blue;
}
h2{
  text-align: center;
  font-style: oblique;
  font-size: 23px;
  font-family: cursive;
  color: red;
}
.intro{
  font-style: italic;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  transition: .5s;

}
. container{
  width: 800px;
  margin:50px auto 0;
  display: table;
  box-sizing: border-box;
  transition: .5s;

}
.row
{
  margin: 20px 0;
  transition: .5s;
  border-left:10px solid #fff;

}
.column
{
  background: #000;
  display: table-cell;
  padding: 10px;
  width: 33.3333%;
  text-align: center;
  vertical-align: middle;
  border-right:10px solid #fff;
  border-left:10px solid #fff;
  transition: .5s;


}
.row:nth-child(1) .column:nth-child(1)
{
  background: #cf6768;
}

.row:nth-child(1) .column:nth-child(2)
{
  background: #8accc3;
}

.row:nth-child(1) .column:nth-child(3)
{
  background: #00acc1;
}
.row:nth-child(2) .column:nth-child(1)
{
  background: #orange;
}

.row:nth-child(2) .column:nth-child(2)
{
  background: #ff4350;
}

.row:nth-child(2) .column:nth-child(3)
{
  background: #72768a;
}
@media (max-width: 900px)
{
  .container
  {
    margin: 0;
    padding: 10px;
    width: 100%;
}
.column
{
  width: 100%
  display: block;
  margin: 10px 0;
  border:none;
  box-sizing:border-box;
}
.row
{
  margin: 0;
}
body{
  background-color: peachpuff;
}

}
